.password-check {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 55px 16px 70px 16px;
  @include flex-layout(column, space-between);
  .top {
    width: 100%;
    .text {
      margin: 2rem 0;
      h2 {
        @include h2-style();
      }
      p {
        @include body-m-style();
        color: var(--gray-400);
      }
    }

    input {
      @include input-style();
    }
  }

  .bottom{
    @include flex-layout(column);
    width: 100%;
    p{
      @include body-m-style;
      text-align: center;
      color: #999999;
      border-bottom: 1px solid #999999;
      padding-bottom: 4px;
      width: fit-content;
      cursor: pointer;
    }
    .btn-active {
    @include btn-basic();
    margin: 2rem 0;
  }
  .btn-disabled{
    @include btn-small-gray();
    margin: 2rem 0;
    cursor: not-allowed;
  }
  }

}
