#festivalList {
	max-width: 768px;
	height: 100%;
	padding: 0 16px;
	gap: 12px;

	.region-filter {
		width: 100%;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--gray-100);

		.filter {
			width: 100%;
			@include flex-layout(row, center, center);
			gap: 1rem;

			select {
				flex: 1;
				height: 48px;
				@include body-l-style;
				color: var(--gray-500);
				border: 1px solid var(--gray-100);
				padding: 1rem;
			}

			.search-container {
				flex: 1;
				width: 173px;
				height: 48px;
				@include flex-layout(row, space-around, center);
				background-color: var(--gray-50);
				color: var(--gray-300);
				border-radius: 10rem;
				position: relative;
				outline: none;
				@include body-m-style;

				&:focus-within {
					input {
						border: 2px solid var(--primary-500);
					}

					button {
						svg {
							color: var(--primary-500);
						}
					}
				}

				input {
					border-radius: 10rem;
					width: 100%;
					height: 46px;
					padding: 1rem;
					background-color: var(--gray-50);
					color: var(--gray-900);
					border: 2px solid transparent;
					outline: none;
				}

				input::placeholder {
					color: var(--gray-300);
				}

				button {
					position: absolute;
					top: 0.4rem;
					right: 1rem;
					background-color: transparent;
					font-size: 2rem;
					padding: 1rem;
				}

			}
		}

		ul {
			padding-top: 1rem;
			// gap: 1rem;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			row-gap: 1rem;

			li {
				@include body-m-style();

				button {
					background-color: transparent;
					width: 8rem;
					height: 3.8rem;
					border-radius: 4rem;
					border: 1px solid var(--gray-100);

					&:hover {
						background-color: var(--primary-500);
						color: var(--gray-white);
						transition: all 0.3s ease;
					}
				}
			}
		}
		.active {
			background-color: var(--primary-500);
			color: var(--gray-white);
			transition: all 0.3s ease;
		}
	}
	.festival-info-container{
		padding-top: 1rem;
		@include flex-layout(row,space-between,center);
		p{
			@include body-m-style;
			color: var(--gray-500);
			span{
				color: var(--gray-900);
			}
		}
		.controls-wrapper{
			@include flex-layout();
			gap: 1rem;
			label{
				@include flex-layout();
				gap: 1rem;
				color: var(--gray-500);
				@include body-s-style;
				input{
					border-radius: 50%;
				}
				span{
					color: var(--gray-100);
				}
			}
		}
		.sort-select{
			border: none;
			color: var(--gray-500);
		}
	}
}