.comment-creat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include input-style();
    padding: 0 1rem;
    .creat-input{
        border: none;
        @include input-style();
        @include body-s-style();
    }
    .creat-btn{
        width: 60px;
        height: 35px;
        background-color: var(--primary-500);
        color: var(--gray-white);
        @include body-s-style();
        border-radius: 10px;
        
    }
}