.comment-list {
  @include body-m-style();
  color: var(--gray-900);
  .comment-item {
    .profile-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      margin: 2rem 0;
      .info {
        flex: 1;
        .info1 {
            display: flex;
            justify-content: space-between;
            
          .info2 {
            display: flex;
            align-items: center;
            .info3{
                margin-right: 1rem
            }
            .info4 {
              @include body-s-style();
              color: var(--gray-400);
            }
          }
        }
        .comment-option{
          display: flex;
          justify-content: end;
          .edit, .delete, .copy{
            @include body-s-style();
            padding: 0.5rem;
            border: 1px solid var(--gray-white);
            background-color: var(--primary-500);
            color: var(--gray-white);
            transition: all 0.2s ease;
            &:hover{
              background-color: var(--primary-500);
              filter: brightness(85%); 
              opacity: 0.9;             
            }
          }
        }
        .edit-input{
          display: flex;
          .btn-wrap{
            display: flex;
          .save, .cancle{
            display: flex;
            justify-content: end;
            @include body-s-style();
            padding: 0.5rem;
            border: 1px solid var(--gray-white);
            background-color: var(--primary-500);
            color: var(--gray-white);
          }
        }
        }
      }
    }
  }
}
