.dday-btn{
    display: inline-block;
    @include body-s-style();
    background-color: var(--primary-100);
    color: var(--primary-500);
    padding: 0.5rem 1rem;
    border-radius: 40px;
    word-break: keep-all;
}