.detail-wrap {
  color: var(--gray-900);
  @include body-m-style();
  padding: 55px 16px 70px 16px;
 
 //축제 정보 영역 
  .detail-top {
    img {
      display: block;
      width: 100vw;
      margin-left: -16px;
      margin-right: -16px;
    }
    h1 {
      margin: 1.5rem 0;
      @include h3-style();
    }
    .date-weather {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date-weather-left {
        display: flex;
        align-items: center;
        gap: 1rem;
        .state {
          display: inline-block;
          @include body-s-style();
          background-color: var(--primary-100);
          color: var(--primary-500);
          padding: 0.5rem 1rem;
          border-radius: 40px;
        }
        .date {
          @include body-l-style();
          color: var(--gray-500);
        }
      }
      .date-weather-right {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .detail-text-wrap {
    .menu {
      @include h4-style();
      color: var(--gray-400);
      display: flex;
      justify-content: space-between;
      gap: 3rem;
      padding-top: 1rem;
    }
    .text1 {
      padding-top: 1rem;
      .overview {
        background-color: var(--gray-50);
        padding: 12px 12px;
        border-radius: 10px;
        margin-bottom: 1.5rem;
      }
    }
    .text2 {
      p {
        display: flex;
        flex-wrap: wrap; // 내용이 길면 줄바꿈
        margin: 1rem 0;
        span {
          flex: 0 0 auto; // 고정 폭
          margin-right: 1rem;
          color: var(--gray-500);
        }

    .content {
      flex: 1 1 0; // 나머지 공간 차지, 줄바꿈 시 들여쓰기
    }
      }
    }
    .bar2{
        border: none;
        height: 2px;
        background-color: var(--gray-100);
        margin: 3rem 0;
        color: var(--gray-100);
    }
  }

//map 영역  
    .map-wrapper{
        margin: 2rem 0;
        .map-text-wrap{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1rem;
            .map-title{
                display: flex;
                gap: 0.5rem;
                @include body-l-style();
                .addr{
                  margin-bottom: 0.5rem;
                }
            }
            .load-find{
              @include flex-layout();
              align-self: flex-end;
              @include body-m-style;
              background-color: var(--primary-500);
              color: var(--secondary-50);
              padding: 5px 7px;
              gap: 3px;
              border-radius: 50px;
              cursor: pointer;
              
            }
        }
        .map{
            background-color: #eee;
            width: 360px;
            height: 250px;
        }
        .bar3{
          margin-top: 2rem;
          border: none;
          height: 2px;
        }
    }

//댓글 영역
    .comment-wrap{
      .comment-num{
        @include h4-style();
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1.5rem;

        span{
          @include body-l-style();
          color: var(--primary-500);
        }
      }
    }    
}
