.load-find{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-500);
    color: var(--secondary-50);
    padding: 0.2rem 0.5rem;
    gap: 0.5rem;
    border-radius: 20px;
}