.menu {
    display: flex;
    border-bottom: 1px solid var(--gray-100);
    @include h4-style();
  }
  
  .menu-item {
    cursor: pointer;
    padding: 12px 20px;
    text-align: center;
    position: relative;
    color: var(--gray-400);
  }
  
  .menu-item.tap {
    color: var(--primary-500); // 파란색 등 강조색
  
    .progress-bar {
      height: 2px;
      background-color: var(--primary-500);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 2px 2px 0 0;
    }
  }